@charset "UTF-8";

boby{
	height: 100%;
}

video {
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	
}

.box {
	width: 100%;
	height: 100%;
	background-color: #cccccc;
	float: left;
	margin-right: 10px;
}

.hi {
	overflow: hidden;
}

.tophegiht{
	height: 170px;
	width: 100%;
}

.imgsize{
	height: 60%;
	width: 20%;
}


.monthTravel{
	background-color : pink;
	width: 20%;
	height: 5%;
	margin-top: 3%;
	margin-left: 50%;
}
