@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

boby{
	height: 100%;
}

video {
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	
}

.box {
	width: 100%;
	height: 100%;
	background-color: #cccccc;
	float: left;
	margin-right: 10px;
}

.hi {
	overflow: hidden;
}

.tophegiht{
	height: 170px;
	width: 100%;
}

.imgsize{
	height: 60%;
	width: 20%;
}


.monthTravel{
	width: 20%;
	height: 5%;
	margin-top: 3%;
	margin-left: 40%;
	font-size: 30px;
	overflow : hidden;
	font-family: 'Nanum Brush Script', cursive;
}

/*
.carousel{
	width: 40%;
	height:50%;
	margin-top: 3%;
	margin-left: 28%;
	overflow : hidden;
	background-color: pink;
}
*/

