@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);



/* 로그인 상태 */
/* .message_link{ */
/* 	color: white; */
/* 	text-decoration:none; */
/* 	position: absolute; */
/*     top: 10%; */
/*     right: 10.2%; */
/*     font-family: "Arial", "돋움", "dotum", sans-serif; */
/* } */
/* .mypage_link{ */
/* 	color: white; */
/* 	text-decoration:none; */
/* 	position: absolute; */
/*     top: 10%; */
/*     right: 5.2%; */
/*     font-family: "Arial", "돋움", "dotum", sans-serif; */
/* } */
/* .logout_link{ */
/* 	color: white; */
/* 	text-decoration:none; */
/* 	position: absolute; */
/*     top: 10%; */
/*     right: 1%; */
/*     font-family: "Arial", "돋움", "dotum", sans-serif; */
/* } */

/* 비 로그인 상태 */
/* .login_link{ */
/* 	color: #ffffff; */
/* 	text-decoration:none; */
/* 	position: absolute; */
/*     top: 10%; */
/*     right: 5.2%; */
/*     font-family: "Arial", "돋움", "dotum", sans-serif; */
/* } */

/* .regist_link{ */
/* 	color: #ffffff; */
/* 	text-decoration:none; */
/* 	position: absolute; */
/*     top: 10%; */
/*     right: 1%; */
/*     font-family: "Arial", "돋움", "dotum", sans-serif; */
/* } */


.menu_font {
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
}

.content_ul a {
	font-family: "Arial", "돋움", "dotum", sans-serif;
	text-decoration: none;
	cursor: pointer;
	color: #ffffff;
}

.content_ul li a:link {
	color: #ffffff;
	text-decoration: none;
}

.content_ul li a:visited {
	color: #ffffff;
	text-decoration: none;
}

.content_ul li a:hover {
	color: #ffffff;
	text-decoration: underline;
	font-size: 15px
}

.content_ul li {
	color: #ffffff;
	list-style: none;
	float: left;
	margin-right: 5px;
}

.content_ul li::before {
	padding-left: 5px;
	padding-right: 5px;
	content: "|";
}

.content_ul li:first-child::before {
	content: "";
}

.content {
	display: inline-block;
	text-align: right;
	float: right;
	vertical-align: top;
	line-height: 70px;
}