@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

body{
	overflow: scroll;
}

.top{
	height: 170px;
	background-color: black;
}

.titleDIV{
	width: 50%;
	height : 6%;
	margin-top: 3%;
	margin-left: 40%;
	font-size : 50px;
	font-family: 'Nanum Pen Script', cursive;
	overflow: hidden;
	color: #3498DB;
	
}

.formDIV{
	width: 60%;
	height: 60%;
	margin-top : 3%;
	margin-left: 20%;
	
}
/*------------------------------------------------------------------------------------------*/
input, textarea {
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF),
		color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

textarea {
	width: 98%;;
	max-width: 98%;
	height: 60%;
	line-height: 150%;
	resize: none;
}

input:hover, textarea:hover, input:focus, textarea:focus {
	border-color: #C9C9C9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

label {
	color: #999999;
	float:left;
}

.submit input {
	width: auto;
	padding: 9px 15px;
	background: #617798;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/*-----------------------------------------*/

form{
	height: 100%;
	
}

#default {
	width:280;
	border:1px solid;
	padding:5;
}

select {
	font-family:굴림;
	font-size:12px;
}

/*----------------별점-----------------------*/
.starR1{
    background: url('../img/start.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR2{
    background: url('../img/start.png') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}

.submitmagin{
	margin-left: 40%;
	
}

/*--------------------------------------------*/
.selectbox { position: relative; width: 200px; height: 40px; line-height: 40px; border: 1px solid #999; z-index: 1; } 
.selectbox label { position: absolute; top: 0px; left: 5px; height: 40px; line-height: 40px; color: #999; z-index: -1; } 
.selectbox select { width: 100%; height: 40px; line-height: 40px; font-family: inherit; border: 0; opacity: 0; filter:alpha(opacity=0); -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; }



